.comment-section{
    box-sizing: border-box;
    text-align: left;
    padding-left: 1em;
    line-height: 1.6;
    font-size: 0.9em;
    height: 30%;
}

.comment-text{
    margin-left: 0.5em;
}


.timestamp{
    color: grey;
    font-size: 0.9em;
}

.comment-box{
    padding: 0;
    margin: 0;
    position: relative;
    width: 89%;
    height: 10%;
    border:none;
    border-top: 1px solid lightgrey;
}